:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif,"Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
 
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
 

  background-color: #fafafa;
  overflow: hidden;
  /* background: url('./assets/images/bg.png'); */
}

code{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

